
<div>
<h1>Printed Catalog Request</h1>
<table border="1">
<tr><td>Title</td><td>{{var title}}</td></tr>
<tr><td>First Name</td><td>{{var firstname}}</td></tr>
<tr><td>Last Name</td><td>{{var lastname}}</td></tr>
<tr><td>Company</td><td>{{var company}}</td></tr>
<tr><td>email</td><td>{{var cust_email}}</td></tr>
<tr><td>Address</td><td>{{var street1}}</td></tr>
<tr><td></td><td>{{var street2}}</td></tr>
<tr><td>City</td><td>{{var city}}</td></tr>
<tr><td>State</td><td>{{var region}}</td></tr>
<tr><td>PostalCode</td><td>{{var postcode}}</td></tr>
<tr><td>Country</td><td>{{var country}}</td></tr>


<tr><td>Product Catalog</td><td>{{var product_catalog}}</td></tr>
<tr><td>Future Mailings</td><td>{{var future_mailings}}</td></tr>
</table>
</div>