<!--@subject ICC Order Request {{var order_id}}- Requires your attention @-->
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
  <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
    <tr>
      <td align="center" valign="top">
        <!-- [ header starts here] -->
          <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
              <td valign="top">
                <p>
                  <a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="ICC StoreFront" border="0"/></a>
                </p>
              </td>
            </tr>
          </table>
          <!-- [ middle starts here] -->
          <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
              <td valign="top">
                <p>
                <strong>Dear {{var customer_name}}</strong>,<br/>
                </p>
                <p>
                Your order request {{var order_id}} has not been completely delivered. There are some items that require your attention.
                </p>
                <p>
                ICC does not have the complete list of the employees that you would like to receive the PDF downloads you’ve added to your cart. Please follow these simple steps to complete your order:  <br/>
                1. Go to <a target="_blank" href="{{store url=""}}" style="color:#1E7EC8;">shop.iccsafe.org</a> <br/>
                2. Click on "My eCodes" tab.<br/>
                3. Login to your account.<br/>
                4. In "My Electronic Products" tab, go to "Volume License" tab.<br/>
                5. Click on the "Assign" link.<br/>
                6. Provide the remaining emails and names.<br/>
                </p>
                <p>
                Once these steps are complete we will deliver the PDF downloads ordered to the assigned employees.
                </p>
                <p>
                If you no longer wish to receive this reminder notification for order #{{var order_id}}, Please <a href="{{store url=""}}optremainder/index/index/options/{{var url_options}}">click here</a>
                </p>
                <p>
                Thank you <br/>
                ICC Customer Service <br/>
                <a href="mailto:support@iccsafe.org" style="color:#1E7EC8;">support@iccsafe.org</a> <br/>
                (888)422-7233, ext. 33822
                </p>
              </td>
            </tr>
          </table>
      </td>
    </tr>
  </table>
</div>

